* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

body {    
    display: flex;    
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #123464;
}

.logo {
    margin-top: -150px;
    margin-bottom: 100px;
    margin-left: -40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-items: auto;
}

.logo-menu {
    margin-bottom: 20px;
    margin-top: 0;   
    margin-left: -40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-items: auto;
}

.logo img {
    width: 180px;
    height: 180px;
    margin-right: 10px;
}

.logo-menu img {
    width: 180px;
    height: 180px;
    margin-right: 10px;
}
.bank-name {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}

.bank-name h2 {
    align-self: flex-start;
    font-size: 46px; 
    font-style: italic;   
    font-weight: bolder;
    text-shadow: 1px 2px #123464;
}

.bank-name p{
    align-self: flex-start;
    font-style: unset;
    color:#3CB1F3;
}

.contenedor {
    border: 1px solid rgb(180, 179, 236);    
    border-radius: 6px;
    background-color: #122243;
    width: 300px;
    height: 150px;
}

.contenedor-menu {
    border: 1px solid rgb(180, 179, 236);    
    border-radius: 6px;
    background-color: #122243;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contenedor:hover {
    border: 2px solid white;
}

form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin-bottom: 13px;
}

label{
    font-weight: bolder;
    color: white;
}

.error {
    margin-top: -20px;
    color: red;    
    font-weight: bold;
    font-size: 17px;    
}

.hide {
    display: none;
}

.submit-buton {
    border-radius: 6px;
    border: none;
    width: 50px;
    height: 25px;
}

.submit-buton:hover {
    border: 1px solid;
}

.boton_consulta {
    height: 60px;
    width: 200px;
    border-radius: 8px;
    background-color: #2095da;
    color: azure;
    font-size: 20px;
    font-weight: bold;
}

.boton_consulta:hover {
    border: 1px solid;
}

.label_consulta {
    font-size: 26px;
}

.saldo {
    margin-top: -40px;
    font-size: 38px;
    color: #3CB1F3;
    margin-bottom: 10px;
}

.botones_menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.text_monto {
    border-top: -50px;
    background-color: #122243;
    font-size: 36px;
    color: white;
    border: none;
    text-align: center;
}

.text_monto:hover {
    border: 1px solid;
}